@tailwind base;
@tailwind components;
@tailwind utilities;

@import './syntax-highlighting.css';

@layer base {
  :root {
    --foreground: 240 15% 20%;
    --background: 240 15% 98%;

    --muted-foreground: 240 15% 60%;
    --muted-background: 240 15% 94%;

    --button-primary-foreground: 240 90% 98%;
    --button-primary-background: 240 30% 25%;
    --button-primary-border: 240 35% 40%;
    --button-primary-hover-background: 240 35% 30%;
    --button-primary-hover-border: 240 40% 50%;

    --button-secondary-foreground: 240 15% 20%;
    --button-secondary-background: 240 15% 94%;
    --button-secondary-border: 240 15% 90%;
    --button-secondary-hover-background: 240 15% 90%;
    --button-secondary-hover-border: 240 15% 80%;

    --link-foreground: 240 40% 50%;
    --link-decoration: 240 80% 90%;
    --link-hover-foreground: 240 35% 40%;
    --link-hover-decoration: 240 70% 80%;

    --border: 240 15% 90%;

    --ring: theme('colors.twilight-indigo.200');
  }
}

* {
  @apply border-border;
}

*:focus-visible {
  @apply outline-none outline-offset-1 ring-2 ring-ring;
}
