@import url("@radix-ui/colors/mauve.css");
@import url("@radix-ui/colors/mauve-alpha.css");
@import url("@radix-ui/colors/mauve-dark.css");
@import url("@radix-ui/colors/mauve-dark-alpha.css");
@import url("@radix-ui/colors/plum.css");
@import url("@radix-ui/colors/plum-alpha.css");
@import url("@radix-ui/colors/plum-dark.css");
@import url("@radix-ui/colors/plum-dark-alpha.css");
@import url("@radix-ui/colors/purple.css");
@import url("@radix-ui/colors/purple-alpha.css");
@import url("@radix-ui/colors/purple-dark.css");
@import url("@radix-ui/colors/purple-dark-alpha.css");
@import url("@radix-ui/colors/pink.css");
@import url("@radix-ui/colors/pink-alpha.css");
@import url("@radix-ui/colors/pink-dark.css");
@import url("@radix-ui/colors/pink-dark-alpha.css");
@import url("@radix-ui/colors/cyan.css");
@import url("@radix-ui/colors/cyan-alpha.css");
@import url("@radix-ui/colors/cyan-dark.css");
@import url("@radix-ui/colors/cyan-dark-alpha.css");
@import url("@radix-ui/colors/iris.css");
@import url("@radix-ui/colors/iris-alpha.css");
@import url("@radix-ui/colors/iris-dark.css");
@import url("@radix-ui/colors/iris-dark-alpha.css");
@import url("@radix-ui/colors/teal.css");
@import url("@radix-ui/colors/teal-dark.css");
@import url("@radix-ui/colors/black-alpha.css");
@import url("@radix-ui/colors/white-alpha.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
  * We are using the Radix UI Colors package to generate a set of color variables that can be used in the project.
  * @see: https://colors.radix-ui.com/
  */

  :root {
    @media not all and (width >= 360px) {
      font-size: 4vw;
    }

    --bg: var(--iris-1);
    --fg: var(--iris-12);
    --muted: var(--iris-9);
    --border: var(--iris-4);
    --scrollbar-thumb: var(--iris-4);
    --scrollbar-track: transparent;
    --selection-background: var(--cyan-3);
    --selection-foreground: var(--cyan-10);
    --kbd-background: var(--iris-3);
    --kbd-foreground: var(--iris-11);
    --kbd-border: var(--iris-4);
    --highlight-background: var(--plum-3);
    --highlight-foreground: var(--plum-8);
    --radius-small: 4px;
    --radius-base: 8px;
    --radius-large: 12px;
    --code-background: var(--iris-2);
  }

  * {
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;

    font-variant-ligatures: none;
    text-wrap: pretty;
    text-rendering: optimizelegibility;
  }

  *::selection {
    color: var(--selection-foreground);
    background-color: var(--selection-background);
  }

  html {
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scroll-behavior: smooth;
  }

  html {
    @apply text-default text-foreground bg-background break-words;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-semibold leading-snug tracking-tight;
    }

    h2,
    h3,
    sub,
    sup {
      @apply text-foreground;
    }

    sub {
      @apply text-small;
    }

    a {
      @apply transition hover:opacity-75;
    }

    ol {
      @apply list-decimal;
    }

    ul {
      @apply list-disc;
    }

    kbd {
      @apply mx-1;

      display: inline-block;
      min-width: 20px;
      height: 20px;
      min-height: 20px;
      padding: 0 6px;
      font-size: 93.75%;
      line-height: 20px;
      text-align: center;
      background: var(--kbd-background);
      border-radius: 4px;
      box-shadow: 0 0 0 1px var(--kbd-border);
    }

    code {
      @apply text-[93.75%];
    }
  }

  article {
    h1 {
      @apply text-2xl leading-snug lg:text-3xl;
    }

    h2 {
      @apply text-xl border-b border-border pb-2 lg:text-2xl;
    }

    h3 {
      @apply text-lg lg:text-xl;
    }

    h4 {
      @apply lg:text-lg;
    }

    h1 + h2 {
      @apply mt-6;
    }

    h1 + p,
    h2 + p,
    h3 + p {
      @apply !mt-6;
    }

    figure + h1,
    p + h1 {
      @apply !mt-12;
    }

    h1:not(:first-child),
    h2:not(:first-child),
    h3:not(:first-child) {
      @apply mt-8;
    }

    p:not(:first-child),
    h4:not(:first-child),
    h5:not(:first-child),
    h6:not(:first-child),
    blockquote:not(:first-child),
    ul:not(:first-child),
    ol:not(:first-child),
    pre:not(:first-child),
    figure:not(:first-child) {
      @apply mt-6;
    }

    hr {
      @apply my-8 border-t border-border;
    }

    /*
    * This handles our highlighting on selection of a table of contents item.
    */

    [data-highlight] {
      @apply relative;
    }

    [data-highlight]::before {
      @apply absolute inset-0 -inset-x-1 -z-10 bg-transparent transition scale-y-[1.1] content-[""] duration-500;
    }

    [data-highlight="true"]::before {
      @apply bg-highlight-background text-highlight-foreground scale-y-110 !important;
    }

    [data-highlight="false"]::before {
      @apply bg-transparent scale-y-100;
    }

    /*
    * Here we are setting up the styles for our footnotes and references.
    */

    .footnotes {
      position: relative;
      padding-top: 16px;
      margin-top: 64px !important;
      border-top: 1px solid var(--border);
    }

    .footnotes ol {
      position: relative;
      display: block;
      padding: 0 0 0 4px;
      margin-top: 16px !important;
      list-style: none;
    }

    .footnotes li {
      margin-top: 0 !important;
    }

    .footnotes ol li {
      position: relative;
      padding-top: 4px;
      padding-left: 6px;
      font-size: 12px;
      color: var(--muted);
      counter-increment: list;
    }

    .footnotes ol li::before {
      position: absolute;
      top: 0;
      right: 100%;
      font-size: 8px;
      content: counter(list);
    }

    .footnotes ol li p a {
      z-index: 2;
    }
  }

  /*
  * We are using rehypye-pretty to style the code blocks in the project.
  * rehype-pretty-code is a Rehype plugin powered by the shiki syntax highlighter that provides beautiful code blocks for Markdown or MDX.
  * It works on both the server at build-time (avoiding runtime syntax highlighting) and on the client for dynamic highlighting.
  * @see: https://rehype-pretty.pages.dev/
  */

  /*
  * Here we are setting up the styles needed to enable theme-aware code blocks.
  * @see: https://rehype-pretty.pages.dev/#multiple-themes-dark-and-light-mode
  */

  html {
    code[data-theme*=" "],
    code[data-theme*=" "] span {
      color: var(--shiki-light);
      background-color: var(--shiki-light-bg);
    }

    &.dark {
      code[data-theme*=" "],
      code[data-theme*=" "] span {
        color: var(--shiki-dark);
        background-color: var(--shiki-dark-bg);
      }
    }
  }

  /*
  * Here we are setting up the styles needed to enable line numbers in code blocks.
  * @see: https://rehype-pretty.pages.dev/#line-numbers
  */

  html {
    code[data-line-numbers] {
      counter-reset: line;
    }

    code[data-line-numbers] > [data-line]::before {
      display: inline-block;
      width: 12px;
      margin-right: 1rem;
      color: gray;
      text-align: right;
      content: counter(line);
      counter-increment: line;
    }

    code[data-line-numbers-max-digits="2"] > [data-line]::before {
      width: 1.25rem;
    }

    code[data-line-numbers-max-digits="3"] > [data-line]::before {
      width: 1.75rem;
    }

    code[data-line-numbers-max-digits="4"] > [data-line]::before {
      width: 2.25rem;
    }

    h1 [data-line],
    h2 [data-line],
    h3 [data-line],
    h4 [data-line],
    h5 [data-line],
    h6 [data-line] {
      @apply font-sans px-1.5 py-0.5 mx-px !bg-[--kbd-background] rounded-md  shadow-[0_0_0_1px_var(--kbd-border)];
    }

    p [data-line],
    li [data-line] {
      padding: 2px 4px;
      margin-right: 2px;
      margin-left: 2px;
      text-align: center;
      background-color: var(--kbd-background) !important;
      border-radius: 4px;
      box-shadow: 0 0 0 1px var(--kbd-border);
    }
  }

  /*
  * Here we are just some additional styles to make the code blocks look better.
  * @see: https://rehype-pretty.pages.dev/#styles
  */

  * {
    figure[data-rehype-pretty-code-figure] {
      @apply bg-[--code-background];
    }

    pre {
      @apply py-4 overflow-x-auto;
    }

    figure {
      @apply w-full mt-4 border border-[--border] rounded-[--radius-base];
    }

    figcaption[data-rehype-pretty-code-title] {
      @apply text-small py-1 px-4 border-b border-border text-[--iris-9];
    }

    figcaption[data-rehype-pretty-code-title] + pre {
      @apply mt-0;
    }

    pre [data-line] {
      @apply mt-0 px-4 border-l-2 border-transparent;
    }

    [data-highlighted-line] {
      @apply !bg-highlight-background !border-highlight-foreground;
    }

    [data-line].diff {
      @apply relative before:absolute before:left-0 before:px-px;
    }

    [data-line].diff.add {
      @apply bg-[--teal-3] text-[--teal-10] before:content-['+'];
    }

    [data-line].diff.remove {
      @apply bg-[--pink-4] text-[--pink-10] opacity-70 before:content-['-'];
    }
  }
}
